<main class="main md:container mx-auto md:my-10 md:flex md:flex-col lg:flex-row gap-8 ">
  <header class="lg:basis-64 md:flex md:flex-row lg:flex-col md:justify-between lg:justify-start gap-8">
    <div
      class="header  text-light flex items-end md:rounded-lg shadow-md  p-6 bg-cover bg-center bg-no-repeat bg-mobile sm:bg-tablet md:bg-desktop">
      <div>
        <h1 class="h1 md:text-xl lg:text-2xl font-bold">{{title}}</h1>
        <p>Feedback Board</p>
      </div>
    </div>
  

      <aside class="hidden md:block bg-white sm:bg-red md:bg-purple lg:bg-blue  rounded-lg shadow-md  p-6">
        <app-category></app-category>
      </aside>
  
  
      <aside class="hidden md:block bg-white  rounded-lg shadow-md  p-6">
        <app-roadmap></app-roadmap>
      </aside>
  

  </header>
  
  <div class="flex-auto">
    <app-toolbar></app-toolbar>
    <app-suggestions></app-suggestions>
  </div>
</main>

