<main class="main md:container md:px-6 mx-auto md:my-10 md:flex md:flex-col lg:flex-row gap-8 relative ">
  <header class="lg:basis-64 md:flex md:flex-row lg:flex-col md:justify-between lg:justify-start gap-8 ">
    <div
      class="header  text-light flex justify-between items-center md:items-end md:rounded-lg shadow-md  p-6 bg-cover bg-purple bg-center bg-no-repeat bg-mobile sm:bg-tablet md:bg-desktop">
      <div>
        <h1 class="h1 md:text-xl lg:text-2xl font-bold">{{title}}</h1>
        <p>Feedback Board</p>
      </div>

      <!-- Show on mobile devices -->
      <div class="block md:hidden">
        <button (click)="toggleMenu()" ><img [src]="menuIcon" alt="hamburger menu"></button>
      </div>
    </div>

    <!-- show on medium devices -->
    <div class=" bg-white  rounded-lg shadow-md  p-6 hidden md:block">
      <app-category></app-category>
    </div>
    
    <div class="bg-white  rounded-lg shadow-md  p-6 hidden md:block">
      <app-roadmap></app-roadmap>
    </div>
    
    <!-- Show on mobile devices -->
    <div class="block md:hidden">
        <div class="menu-background" [class.show]="isOpen"></div>
        <div class="menu-panel text-center" [class.show]="isOpen">
            <div class=" bg-white  rounded-lg shadow-md  p-6">
              <app-category></app-category>
            </div>


            <div class="bg-white  rounded-lg shadow-md  p-6">
              <app-roadmap></app-roadmap>
            </div>
        </div>
    </div>


  

  </header>
  
  <div class="flex-auto">
    <app-toolbar></app-toolbar>
    <app-suggestions></app-suggestions>
  </div>
</main>

