<div class="my-6 mx-4 md:mx-0">
  <h2 class="text-lg text-dark-800 font-bold capitalize"> {{ title() }} ({{feedBacks().length}})</h2>
  <p> {{ description() }} </p>

  @for( feedBack  of feedBacks(); track feedBack.id) {
  <div   [ngClass]="borderClass()"
    class="feedBack mx-4 md:mx-0 cursor-pointer border-t-4 group/card hover:shadow-2xl hover:transition-all shadow-md bg-white rounded-lg px-8 py-7 my-5">
  
    <div class="feedBack_descriptions">
      <div class="mb-3.5"> <fa-icon ngClass="text-{{ title() }}" class=" me-4 " [icon]="circleIcon"></fa-icon> In Progress</div>
      <h3 class="text-lg  font-bold group-hover/card:text-blue">{{feedBack.title}}</h3>
      <p class="my-2">{{feedBack.description}}</p>
      <p class="inline-block capitalize py-2 px-4 bg-light-500 text-blue font-semibold rounded-10 ">
        {{feedBack.category}}</p>
    </div>

    <div class="feedBack_upvotes flex justify-between mt-4 ">
        <button
          class="group/upvote flex gap-x-2 flex-row items-center py-2 px-4 font-bold bg-light-500 rounded-10 hover:bg-light-300  active:bg-blue active:text-white transition">
          <img src="./assets/shared/icon-arrow-up.svg" alt="comments" loading="lazy">
          <span class="text-sm">{{feedBack.upvotes}}</span>
        </button>

          <div class="feedback_comment_count hidden md:flex  items-center gap-2">
            <img src="./assets/shared/icon-comments.svg" alt="comments" loading="lazy">

            <p class="font-bold">{{feedBack.comments?.length}}</p>
          </div>
      </div>
  </div>
}
</div>




