<div
  class="header  text-light flex justify-between items-center md:items-end md:rounded-lg shadow-md  p-6 bg-cover bg-purple bg-center bg-no-repeat bg-mobile sm:bg-tablet md:bg-desktop flex-1 lg:flex-none">
  <div>
    <h1 class="md:text-xl lg:text-2xl font-bold text-white md:mt-6">{{title}}</h1>
    <p>Feedback Board</p>
  </div>

  <!-- Show on mobile devices -->
  <div class="block md:hidden">
    <button (click)="toggleMenu()"><img [src]="menuIcon" alt="hamburger menu"></button>
  </div>
</div>
