<div class="max-w-3xl mx-auto px-6 py-6 md:py-14 lg:py-20">
 
  <!-- Toolbar -->
   <section class="flex justify-between items-center">
      <a routerLink="/" class="text-sm flex items-center gap-3 cursor-pointer transition hover:font-bold hover:underline">
        <img loading="lazy" src="./assets/shared/icon-arrow-left.svg" alt="arrow left">
        <span>Go Back</span>
      </a>

      <button class="bg-blue text-white px-6 py-3 rounded-xl font-bold   hover:bg-blue-800 hover:text-light-500 transition ease-in-out">
        Edit Feedback
      </button>
   </section>
   

   <!-- Feedback -->
    <section 
      class="feedBack md:flex justify-between items-center shadow-sm bg-white rounded-lg px-8 py-7 my-5">
    
      <div class=" flex gap-x-10 gap-y-4 flex-col md:flex-row ">
        <div class="feedBack_upvotes order-2 md:order-1 flex justify-between md:block">
    
          <button
            class="group/upvote flex gap-x-2 flex-row items-center  md:flex-col px-2 py-3 font-bold min-w-12 bg-light-500 rounded-10 hover:bg-light-300  active:bg-blue active:text-white transition">
            <fa-icon class="font-bold text-blue group-active/upvote:text-white" [icon]="upVoteIcon"></fa-icon>
            <span class="text-sm">{{feedBack()?.upvotes}}</span>
          </button>
    
          @if(feedBack()?.comments) {
          <div class=" feedback_comment_count flex  md:hidden items-center gap-2">
            <img src="./assets/shared/icon-comments.svg" alt="comments" loading="lazy">
            <p class="font-bold">{{feedBack()?.comments?.length}}</p>
          </div>
          }
    
    
        </div>
    
        <div class="feedBack_descriptions order-1 md:order-2">
          <h1 class="text-lg  font-bold group-hover/card:text-blue">{{feedBack()?.title}}</h1>
          <p class="my-2">{{feedBack()?.description}}</p>
          <p class="inline-block capitalize py-2 px-4 bg-light-500 text-blue font-semibold rounded-10 ">
            {{feedBack()?.category}}</p>
        </div>
    
      </div>
    
      @if(feedBack()?.comments) {
      <div class="feedback_comment_count hidden md:flex  items-center gap-2">
        <img src="./assets/shared/icon-comments.svg" alt="comments" loading="lazy">
        <p class="font-bold">{{feedBack()?.comments?.length}}</p>
      </div>
      }
    </section>


    <!-- Feedback Comments -->
    <section class="rounded overflow-hidden shadow-sm bg-white p-6">
      @if(comments().length) {
         <h2 class="font-bold text-lg text-dark-800">{{ title()}}</h2>
          @for(comment of comments(); track comment.id) {
            <div  class="border-b last:border-b-0 border-gray-200 pt-8 last:pb-0">
                  <!-- Comments -->
                  <app-feedback-comments [comment]="comment" />
                  
                  <!-- REPLIES -->
                  @if(comment.replies?.length) {
                    @for(reply of comment.replies; track reply.replyingTo) {
                    <app-feedback-comments [comment]="reply"  [isLast]="$last"/>
                    }
                  }
            </div>
          }
      } 
      @else {
      <div class="my-10">
        <img class="mx-auto mb-6" src="./assets/suggestions/illustration-empty.svg" alt="Man with magnifying glass">
        <h3 class="font-bold text-3xl text-center">No Comment</h3>
      </div>
      }
    </section>

    

     <!-- Comment Form -->
    <div class="shadow-sm bg-white rounded-lg p-6 my-6">
      <h2 class="font-bold text-lg text-dark-800 mb-6">Add Comment</h2>
      <app-feedback-comment-form  buttonText="Post Comment" />
    </div>


</div>