<div class="toolbar bg-dark p-4 md:rounded-xl text-light">
  <div class="flex justify-between items-center">
    <div class="flex">
      <img  class="hidden md:block me-4" src="./assets/suggestions/icon-suggestions.svg" alt="bulb">
      <div class="hidden md:block font-bold">
        <span>{{suggestionsCount}}</span>
        {{title}}
      </div>
      <div class="md:ms-9">
        <app-dropdown></app-dropdown>
      </div>
    </div>
    <div>
      <button class="bg-purple px-6 py-3 rounded-xl font-bold flex items-center transition ease-in-out  hover:bg-purple-500">
        <fa-icon class="me-2" [icon]="faPlus"></fa-icon>
        <span class="sr-only">Add Feedback</span>
       <span>Add Feedback</span> 
      </button>
    </div>
  </div>
</div>