<main class="max-w-xl mx-auto my-6 md:my-10 px-6">

  <div>
    <a routerLink="/" class="text-sm flex items-center gap-3 cursor-pointer transition font-bold hover:underline">
      <img loading="lazy" src="./assets/shared/icon-arrow-left.svg" alt="arrow left">
      <span>Go Back</span>
    </a>
  </div>

  <div class=" bg-white rounded-lg   p-10 mt-12 md:mt-20 ">
    <div>
      <img [src]="formIcon" alt="form icon" loading="lazy" class="-mt-14">
      <h1 class="text-2xl font-bold text-dark-800 mt-3"> {{ title }} </h1>
    </div>

  </div>


</main>
