<div class="max-w-3xl mx-auto px-6 py-6 md:py-14 lg:py-20">
  @if(isFetchingSelectedFeedBack()) {
    <app-loading [fullScreen]="true" [isLoading]="isFetchingSelectedFeedBack()" />
  }
  @else {
    @if (feedBack()) {
        <!-- Toolbar -->
        <app-details-toolbar [feedBack]="feedBack()"/>
        <!-- Feedback -->
        <app-feedback-card [feedBack]="feedBack()" />

        <!-- Comments Section -->
         <app-comment-list [currentUser]="currentUser()!"  [feedBack]="feedBack()" />
    
        <!-- Comment Form -->
         <app-comment-form [isCommenting]="isAddingComment()" (commentContent)="onComment($any($event))" [isReply]="false" />
  
    }
    @else {
        <app-empty-card />
    }

  }
</div>