<div class="max-w-3xl mx-auto px-6 py-6 md:py-14 lg:py-20">

  @if(_loadingService.isLoading()) {
    <app-loading [full]="true" />
  }
  @else {
      <!-- Toolbar -->
      <section class="flex justify-between items-center">
        <a routerLink="/" class="text-sm flex items-center gap-3 cursor-pointer transition hover:font-bold hover:underline">
          <img loading="lazy" src="./assets/shared/icon-blue-arrow-left.svg" alt="arrow left">
          <span>Go Back</span>
        </a>
      
        @if (feedBack()) {
          <a
          [routerLink]="['/feedback-form', feedBack().id]"
            class="bg-blue text-white px-6 py-3 rounded-xl font-bold   hover:bg-blue-800 hover:text-light-500 transition ease-in-out">
            Edit Feedback
          </a>
        }
      </section>
      
      
      
      @if (feedBack()) {

        <!-- Feedback -->
        <app-feedback-card [feedBack]="feedBack()" />

        <!-- Comments Section -->
        <section class="rounded overflow-hidden shadow-sm bg-white p-6">
          @let comments = feedBack().comments;
          @if( comments && comments.length > 0) {
        
          <h2 class="font-bold text-lg text-dark-800 mb-8">{{ commentsCount() }} Comments</h2>
        
            @for(comment of comments; track comment?.id) {
              
              <app-comment [comment]="comment" [currentUser]="currentUser()!" />
              <!-- REPLIES -->
                @if((comment?.replies?.length ?? 0) > 0) {
                  <div class="mt-8">
                    @for(reply of comment?.replies; track reply?.user) {
                  
                    <div class="md:ms-6 ps-6">
                      <app-comment [comment]="reply" [currentUser]="currentUser()!" />
                    </div>
                    }
                  </div>
                }
            }
          }
          @else {
          <div class="my-10">
            <img class="mx-auto mb-6" src="./assets/suggestions/illustration-empty.svg" alt="Man with magnifying glass">
            <h3 class="font-bold text-3xl text-center">No Comment</h3>
          </div>
          }
        </section>



        <!-- Comment Form -->
         <app-comment-form [isLoading]="isAddingComment" (comment)="onCommentAdded($any($event))" />
  
      }
      @else {
        <div class=" bg-white rounded-lg shadow-md mx-6 md:mx-0 p-6 my-5 h-screen grid place-items-center text-center">
          <div>
            <img class="mx-auto mb-12" src="./assets/suggestions/illustration-empty.svg" alt="Man with magnifying glass">
            <h2 class="font-bold text-2xl mb-4"> Feedback Not Found.</h2>
            <p class="mb-12">
              Got a suggestion? Found a bug that needs to be squashed?
              <br>
              We love hearing about new ideas to improve our app.
            </p>
          </div>  
        </div>

        <!-- <app-empty /> -->
    }

  }
</div>