
  <main class="main md:container md:px-6  md:my-10 lg:my-24 md:flex md:flex-col lg:flex-row gap-8 relative overflow-hidden">

    <aside class="lg:basis-64 md:flex md:flex-row lg:flex-col md:justify-between lg:justify-start gap-8 ">
  
      <app-feedback-board (toggleClick)="toggleRoadmapAndFilter($event)" [isOpen]="isOpen()" ></app-feedback-board>
  
      <!-- show on medium devices -->
      <div class=" hidden md:block bg-white  rounded-lg shadow-md  p-6 flex-1 lg:flex-none">
    
        <app-category (emitCategory)="onChooseCategory($any($event))"  [isLoading]="isFeedbacksLoading()" [count]="count()" />
    
      </div>
    
      <div class="hidden md:block bg-white  rounded-lg shadow-md  p-6 flex-1 lg:flex-none">
    
        <app-roadmap-report [feedbacks]="feedBacks()"  [isloading]="isFeedbacksLoading()" />
    
      </div>
    
      <!-- Show on mobile devices -->
      <div class="block md:hidden">
        <div class="menu- show" [class.show]="isOpen()"></div>

        <div class="menu-panel text-center" [class.show]="isOpen()">
          <div class="bg-white  rounded-lg shadow-md  p-6">
            <app-category (emitCategory)="onChooseCategory($any($event))"  [isLoading]="isFeedbacksLoading()" [count]="count()"/>
          </div>
          <div class="bg-white  rounded-lg shadow-md  p-6  mt-6 md:mt-0">
            <app-roadmap-report [feedbacks]="feedBacks()" [isloading]="isFeedbacksLoading()" />
          </div>
        </div>
      </div>
      
    </aside>
    
    <div class="flex-auto">
    
      <app-toolbar [suggestionsCount]="count()" (emitSortValue)="onSortByValue($any($event))" [isLoading]="isFeedbacksLoading()" />
    
      <app-feedback-list [feedBacks]="feedBacks()" [isLoading]="isFeedbacksLoading()" [category]="feedBackService.categoryTerm()" />

    </div>
  </main>







