
  <main class="main md:container md:px-6  md:my-10 md:flex md:flex-col lg:flex-row gap-8 relative overflow-hidden">

    <aside class="lg:basis-64 md:flex md:flex-row lg:flex-col md:justify-between lg:justify-start gap-8 ">
  
      <app-feedback-board (isMenuOpen)="toggleRoadmapAndFilter($event)"></app-feedback-board>
  
      <!-- show on medium devices -->
      <div class=" hidden md:block bg-white  rounded-lg shadow-md  p-6 flex-1 lg:flex-none">
    
        <app-category (emitCategory)="onChooseCategory($any($event))" />
    
      </div>
    
      <div class="hidden md:block bg-white  rounded-lg shadow-md  p-6 flex-1 lg:flex-none">
    
        <app-roadmap-report [feedbacks]="feedBacks()"/>
    
      </div>
    
      <!-- Show on mobile devices -->
      <div class="block md:hidden">
        <div class="menu- show" [class.show]="isOpen"></div>
        <!-- <div class="menu-background show"></div> -->
        <div class="menu-panel text-center" [class.show]="isOpen">
        <!-- <div class="menu-panel text-center "> -->
          <div class="bg-white  rounded-lg shadow-md  p-6">
            <app-category (emitCategory)="onChooseCategory($any($event))" />
          </div>
          <div class="bg-white  rounded-lg shadow-md  p-6  mt-6 md:mt-0">
            <app-roadmap-report [feedbacks]="feedBacks()" />
          </div>
        </div>
      </div>
    </aside>
    
    <div class="flex-auto">
    
      <app-toolbar [suggestionsCount]="count()" (emitSortValue)="onSortByValue($any($event))" />
    
      <app-feedback-list 
      [feedBacks]="feedBacks()"
       [isLoading]="_loadingService.isLoading()" 
       (upVoteEmit)="onUpVoteFeedBack($any($event))"  />


    </div>
  </main>







