  @if(feedBacks()) {
      <app-loading [full]="true" />
      @for( feedBack of feedBacks(); track feedBack.id) {
      <div 
        class="feedBack mx-4 md:mx-0  group/card hover:shadow-2xl hover:transition-all  md:flex justify-between items-center shadow-md bg-white rounded-lg px-8 py-7 my-5">
      
        <div class=" flex gap-x-10 gap-y-4 flex-col md:flex-row ">
          <div class="feedBack_upvotes order-2 md:order-1 flex justify-between md:block">
      
            <button
              class="group/upvote flex gap-x-2 flex-row items-center  md:flex-col px-2 py-3 font-bold min-w-12 bg-light-500 rounded-10 hover:bg-light-300  active:bg-blue active:text-white transition">
              <fa-icon class="font-bold text-blue group-active/upvote:text-white" [icon]="upVoteIcon"></fa-icon>
              <span class="text-sm">{{feedBack.upvotes}}</span>
            </button>
      
            @if(feedBack.comments) {
            <div class=" feedback_comment_count flex  md:hidden items-center gap-2">
              <img src="./assets/shared/icon-comments.svg" alt="comments" loading="lazy">
              <p class="font-bold">{{feedBack.comments.length}}</p>
            </div>
            }
      
      
          </div>
      
          <div class="feedBack_descriptions order-1 md:order-2">
            <h3 [routerLink]="['/feedbacks', feedBack.id]" class="text-lg cursor-pointer font-bold group-hover/card:text-blue">{{feedBack.title}}</h3>
            <p class="my-2">{{feedBack.description}}</p>
            <p class="inline-block capitalize py-2 px-4 bg-light-500 text-blue font-semibold rounded-10 ">
              {{feedBack.category}}</p>
          </div>
      
        </div>
      
        @if(feedBack.comments) {
        <div class="feedback_comment_count hidden md:flex  items-center gap-2">
          <img src="./assets/shared/icon-comments.svg" alt="comments" loading="lazy">
          <p class="font-bold">{{feedBack.comments.length}}</p>
        </div>
        }
      </div>
      
      }
   } 
  @else {
    <app-empty />
  }
  








