<div class="md:container px-0 md:px-6  md:mt-10">
  <!-- Toolbar -->
  <app-toolbar [title]="title" [isSuggestionPage]="false"></app-toolbar>

  <!-- Button Group on Mobile -->
  <div class="flex justify-evenly gap-0  md:hidden border border-b-gray-200">
    <button (click)="onSelectRoadMap('planned')"
      [ngClass]="selectedRoadMap == 'planned' ? 'border-b-planned border-b-4  font-bold !text-dark-800' : ''"
      class="flex-1 cursor py-5  text-sm text-gray-400 ">Planned ({{planned().length}}) </button>
    <button (click)="onSelectRoadMap('in-progress')"
      [ngClass]="selectedRoadMap == 'in-progress' ? 'border-b-in-progress border-b-4  font-bold !text-dark-800' : ''"
      class="flex-1 cursor py-5 text-sm text-gray-400 ">In Progress ({{inProgress().length}}) </button>
    <button (click)="onSelectRoadMap('live')"
      [ngClass]="selectedRoadMap == 'live' ? 'border-b-live border-b-4  font-bold !text-dark-800' : ''"
      class="flex-1 cursor py-5 text-sm text-gray-400">Live ({{live().length}}) </button>
  </div>
</div>


@if(feedBacks().length) {
  
  <div class="container px-6">
    <div class="grid gap-3 md:grid-cols-3">

        <app-roadmap-list-card [feedBacks]="inProgress()" [title]="'in-progress'"  [description]="'Features currently being developed'"/>
    </div>

  </div>
} 
@else {
  <app-empty />
}



