<div class=" bg-white rounded-lg shadow-md mx-6 md:mx-0 p-6 my-5 h-screen grid place-items-center text-center">
  <div>
    <img class="mx-auto mb-12" src="./assets/suggestions/illustration-empty.svg" alt="Man with magnifying glass">
    <h2 class="font-bold text-2xl mb-4">{{ message() }}.</h2>
    <p class="mb-12">
      Got a suggestion? Found a bug that needs to be squashed?
      <br>
      We love hearing about new ideas to improve our app.
    </p>

    <button class="text-light mx-auto bg-purple px-6 py-3 rounded-xl font-bold flex items-center  hover:bg-purple-500 ">
      <fa-icon class="me-2" [icon]="plusIcon"></fa-icon>
      <span class="sr-only">Add Feedback</span>
      <span>Add Feedback</span>
    </button>
  </div>
</div>
