

    <!-- Comment-->

      <div [ngClass]="commentBorder()"  class=" border-gray-200 py-8">
        <div class="flex items-center justify-between">
          <div class="flex gap-4">
            <img class="h-10 w-10 rounded-full " [src]="comment().user.image" [alt]="comment().user.name">
            <div>
              <h3 class="font-bold text-dark-800">{{ comment().user.name }}</h3>
              <p> &commat;{{ comment().user.username }}</p>
            </div>
          </div>

          <button class="font-semibold text-blue cursor-pointer hover:underline transition-all ease-in-out"> Reply </button>
        </div>

        <div class="ps-0 md:ps-14 mt-3" >
          <p>  {{ comment().content }} </p>
        </div>
      </div>
    
